* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main: #222f3e;
  --green: #1dd1a1;
  --light: #fbfbfb;
  --dark: #ccc;
}
body {
  font-family: "Ubuntu", sans-serif;
  background-color: var(--light);
}
a {
  text-decoration: none;
}
li {
  text-decoration: none;
  display: inline-block;
}
.container {
  background: #fff;
}

/* Header Sectoin */
.logo {
  background-color: var(--main);
  width: 100%;
  padding-left: 70px;
  color: #fff;
  font-family: "Pacifico", cursive;
}
.logo span {
  color: var(--green);
}
/* Nav */
.nav-menu {
  padding: 10px 0 10px 120px;
  background-color: #fff;
  text-transform: uppercase;
}
.nav-menu li a {
  font-size: 1.2rem;
  color: var(--dark);
  font-weight: 600;
  transition: 0.3s;
}
.nav-menu li {
  padding: 20px;
}
.nav-menu li a:hover {
  color: var(--main);
}
/* hero */
.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/img/1.jpg");
  min-height: 80vh;
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 700px;
}
.hero h1 {
  font-size: 2.6rem;
}
.hero p {
  margin-top: 20px;
  color: #fff;
}
.hero button {
  margin-top: 30px;
  padding: 15px 20px;
  font-size: 1.1rem;
  background: var(--green);
  color: #fff;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid var(--green);
  transition: 0.5s;
}
.hero button:hover {
  background: var(--main);
  color: #fff;
}
/* Travel */
.travel {
  width: 80%;
  margin: 0 auto;
}
.travel h1 {
  font-size: 2.6rem;
  font-weight: 500;
  color: var(--main);
  text-align: center;
  margin: 50px 0 20px 0;
  text-transform: uppercase;
}
.travel span {
  color: var(--green);
}
.travel p {
  color: var(--main);
  font-size: 1.1rem;
  font-weight: normal;
  margin-bottom: 100px;
}
.service {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.service .services {
  flex: 1 1 30rem;
}
.service .services h3 {
  color: var(--main);
  font-weight: 600;
  font-size: 1.3rem;
  text-transform: uppercase;
  margin: 20px 0 15px 0;
}
.services:nth-child(2) {
  margin-top: 30px;
}

/* Gallery */
.gallery {
  background: var(--green);
  width: 100%;
  padding-top: 20px;
}
.gallery h1 {
  text-align: center;
  color: #fff;
  font-size: 2rem;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.gallery span {
  color: var(--main);
}
.gallery .parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px;
}
.gallery .parent .box {
  flex: 1 1 25rem;
  margin: 20px;
  margin-bottom: 40px;
  background: #fff;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}
.gallery .parent .box img {
  width: 100%;
  object-fit: cover;
}
.gallery .parent .box h3,
p {
  padding: 10px 20px;
  color: var(--main);
}
.gallery .parent .box h3 {
  font-size: 1.3rem;
}
.gallery .parent .box p {
  margin-bottom: 20px;
}
/* Footer */
footer {
  padding: 15px 0;
  background: var(--main);
}
footer p {
  text-align: center;
  color: #fff;
}

/* Media Query */
@media (max-width: 768px) {
  .service {
    flex-wrap: wrap;
  }
  .logo {
    text-align: center;
  }
  .nav-menu {
    display: none;
  }
}
