* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  line-height: 1.4;
}
#page-1 {
  background: coral;
  color: #fff;
}
#page-2 {
  color: #fff;
  background: crimson;
}
#page-3 {
  color: #fff;
  background: darkorange;
}
.page {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 4rem;
}
.page h2 {
  margin-bottom: 1rem;
}
.page p {
  margin-bottom: 2rem;
}
.btn {
  display: inline-block;
  background: #f4f4f4;
  color: #333;
  transition: all 0.3s ease-in;
  font-size: 1.1rem;
  text-decoration: none;
  padding: 0.5rem 1rem;
}
.btn:hover {
  background: #333;
  color: #fff;
}
#page-3 .img {
  display: flex;
  width: 80%;
  margin: auto;
  position: relative;
}
#page-3 .img img {
  width: 30%;
  height: 100%;
}
/* Animations */
#page-1 h2 {
  transform: translateY(-1200px);
  animation: head 2s ease-in forwards;
}
#page-1 p {
  transform: translatex(-1800px);
  animation: text 1s ease-in forwards 2s;
}
#page-2.head h2,
#page-3.head h2 {
  transform: translateY(-1200px);
  animation: head 1s ease forwards;
}
#page-2.head p,
#page-3.head p {
  transform: translatex(-1800px);
  animation: text 0.5s ease-in forwards 1.5s;
}
#page-3.image img {
  transform: translateX(-1800px);
  animation: image 1s ease-in forwards 2s;
}
@keyframes image {
  to {
    transform: translateY(0);
  }
}
@keyframes head {
  to {
    transform: translateY(0);
  }
}
@keyframes text {
  to {
    transform: translateY(0);
  }
}
