body{
		font-family: sans;
		margin: 0;
		font-size: 1.125rem;
	}
	img{
		max-width: 100%;
		display: block;
	}
	
	header{	
		padding: 2em 0;
		background: #f8f8f8;
		margin-bottom: 1em;
	}
	.sub{
		margin: 0; 
		color: #1792d2;
		font-weight: 700;
		font-size: 1rem;
	}
	h1,
	h2,
	h3,
	.title
	{
		font-family: serif;
		font-weight: 400;
		color: #143774;
	}
	h1{
		font-size: 2rem;
		margin: 0;
		font-weight: 400;
	}
	.title{
		font-size: 1.5rem;
	}
	.read,
	.info{
		font-size: 1rem;
	}
	.read{
		text-decoration: none;
		color: #1792d2;
	}
	.read:hover{
		color:#143774;
		text-decoration: underline;
	}
	.cont-flex{
		display: flex;
		justify-content: space-between;
	}
	nav ul{
		list-style: none;
		display: flex;
		justify-content: center;
	}
	nav li{
		margin-left: 2em;
	}
	nav a{
		text-decoration: none;
		color: #707070;
		font-weight: 700;		
	}
	.cont{
		width: 90%;
		max-width: 920px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
	}
	.feature{
		border-bottom: 1px solid #707070;
		padding-bottom: 1em;
		margin-bottom: 2em;
	} 
	.feature{
		display: flex;
		flex-direction: column;
	}
	.recent{
		display: flex;
		flex-direction: column;
		margin-bottom: 2em;
	}
	.content{
		order:2;
	}
	.img{
		order:1;
	}
	.img-article{
		order:-2;
	}
	.article-info{
		order:-1;
	}
	.side{
		border: 20px solid #efefef;
		margin-bottom: 2em;
		padding:1em;
	}
	.post-title{
		font-size:1rem;
	}
	.reccent{
		display: flex;
		flex-direction: column;
		border-bottom: 1px solid #707070;
		margin-bottom: 1em;
	}
	.reccent:last-child{
		border:0;
		margin:0;
	}
	.side-img{
		order:-2;
	}
	footer{
		background: #143774;
		color: white;
		text-align: center;
		padding:2em 0;
	}
	.about{
		width:100%;
		max-height:300px;
		object-fit:cover;
	}
	.active{
		border-bottom:1px solid #707070;
		margin-bottom: 0.5em;
	}
	@media (max-width: 620px){
		.cont{
			flex-direction: column;
		}
		header{
			text-align: center;
		}
	}
	@media (max-width: 450px){
		nav ul{
			flex-direction: column;
			align-items: center;
		}
		header{
			text-align: center;
		}
		nav li{
			margin: 0.5em 0;
			margin-left: -2em;
		}
		
	}
	@media (min-width:625px){
		cont-flex{
			flex-direction: row;
		}
		main{
			width:70%;
		}
		aside{
			width:25%;
		}
	}
	@media(min-width:675px){
		.recent{
			flex-direction: row;
			justify-content: space-between;
		}
		.content{
			width:65%;

		}
		.img{
			width:33%;
		}
		.img-article{
			width:100%;
			object-fit: cover;
			min-height:250px;
		}
	}